<!-- https://stackoverflow.com/questions/51105507/change-active-bootstrap-tab-inside-angular-component -->
<div class="container cntr-height">
  <div class="border-box">

    <h1 class="text-center">Model <span style="font-style: italic;">{{model?.name}}</span> datails</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="description-tab" [ngClass]="{'active':activeTab==='description'}"
          (click)="setActiveTab('description')" data-toggle="tab" aria-controls="description">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':activeTab==='business_metadata'}"
          (click)="setActiveTab('business_metadata')" data-toggle="tab">Business Metadata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':activeTab==='server_metadata'}"
          (click)="setActiveTab('server_metadata')" data-toggle="tab">Server Metadata</a>
      </li>
    </ul>

    <div class="tab-content tab-height tab-pane-height">
      <div class="tab-pane fade show active" id="description" [ngClass]="{ 'active':activeTab==='description'}">
        <div class="mt-5 mx-4 text-monospace">
          <p>model name: {{ model?.name }}</p>
          <p>latest version: {{ model?.latest_version }}</p>
        </div>
      </div>
      <div class="tab-pane fade show tab-pane-height" id="business_metadata" [ngClass]="{ 'active':activeTab==='business_metadata'}">
        <div class="mt-5 mx-4">
          <p>
            <ngx-json-viewer [json]="model?.business_metadata"></ngx-json-viewer>
          </p>
        </div>
      </div>
      <div class="tab-pane fade show tab-pane-height" id="server_metadata" [ngClass]="{ 'active':activeTab==='server_metadata'}">
        <div class="mt-5 mx-4">
          <p>
            <ngx-json-viewer [json]="model?.server_metadata"></ngx-json-viewer>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>