/* You can add global styles to this file, and also import other style files */
// @import '~highlight.js/scss/androidstudio.scss';
// color scheme from https://visme.co/blog/website-color-schemes/ (25)

body {
    background-color: #A8D0E6 !important;
}

h2, h3, h4 {
    color: #24305E;
    font-family: 'Montserrat', sans-serif;    
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
}

h2 , h3 {
    padding-left: 6rem;
    text-shadow: 1px 1px 1px #A8D0E6;
}

h4 {
    padding-left: 1rem;
}

.border-box {
    @extend .rounded-lg !optional;
    border: 0.15rem solid  #374785;
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-box-inner {
    border: 0.2rem solid transparent;
    padding: 1rem;
    border-radius: 1.1rem;
    background-color: #F8E9A1;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #374785;
}

.zz-nav {
    color: whitesmoke !important;
    font-weight: bold;
    font-size: 1.5rem !important;
}

.zz-nav:hover {
    color: white !important;
    font-size: 1.5rem !important;
}

.zz-brand {
    color: whitesmoke !important;
    font-weight: bold;
    font-size: 3rem !important;
    font-family: 'Rock Salt', cursive;
    margin-right: 5rem !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F8E9A1 !important;
 }

 .navbar-nav > li{
    padding-left: 1rem;
    padding-right:1rem;
  }