/* You can add global styles to this file, and also import other style files */
// @import '~highlight.js/scss/androidstudio.scss';
// color scheme from https://visme.co/blog/website-color-schemes/ (25)

body, html {
    min-height: 100%;
    height: 100%;
}

body {
    border: 2px solid red;
    background-color: #58b4ae !important;
    background-image: url(assets/img/chemist_1.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'B612', 'Roboto', 'Alegreya', 'Varela', 'Montserrat', sans-serif;
}

// h2, h3, h4 {
//     color: #24305E;
//     font-family: 'Montserrat', sans-serif;    
//     margin-top: 2rem !important;
//     margin-bottom: 3rem !important;
// }

// h2 , h3 {
//     padding-left: 6rem;
//     text-shadow: 1px 1px 1px #A8D0E6;
// }

// h4 {
//     padding-left: 1rem;
// }

.border-box {
    @extend .rounded-lg !optional;
    border: 0.15rem solid  #ffb367;
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 5rem;
    min-height: 80%;
    overflow-y: auto;
}

.border-box-inner {
    border: 0.12rem solid  #F8E9A1;
    padding: 1rem;
    border-radius: 1.1rem;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #374785;
    font-size: 1.2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zz-nav {
    color: whitesmoke !important;
    font-weight: bold;
    font-size: 1.5rem !important;
}

.zz-nav:hover {
    color: white !important;
    font-size: 1.5rem !important;
}

.zz-brand {
    color: whitesmoke !important;
    font-weight: bold;
    font-size: 3rem !important;
    font-family: 'Rock Salt', cursive;
    margin-right: 5rem !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F8E9A1 !important;
 }

 .navbar-nav > li{
    padding-left: 1rem;
    padding-right:1rem;
  }

  .fa-play-circle-o {
      color: #374785;
      cursor: pointer;
  }

  .fa-play-circle-o:hover {
    color: #24305E;
}

h1, h2, h3 {
    margin-bottom: 2rem !important;
}