<div class="border-box">
    <h3>Task #{{ task?._id }}</h3>
    <h4>Details</h4>
    <div class="row mx-4 text-monospace">
        <p>Model name: {{ task?.modelName }}</p>
    </div>
    <div class="row mx-4 text-monospace" *ngIf="task.runnerId">
        <p>Runner: <a href="runners/{{task.runnerId}}">{{ task?.runnerId }}</a></p>
    </div>
    <div class="row mx-4 text-monospace">
        <p>State: {{ task?.state}}</p>
    </div>
    <div class="row mx-4 text-monospace">
        <p>Execution state: {{ task?.executionState}} %</p>
    </div>
    <div class="row mx-4 text-monospace">
        <p *ngIf="task?.result">Result: {{ task.result | json }}</p>
    </div>

    <h4>Parameters</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let param of task.data; let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td>{{ param.name }}</td>
                <td>{{ param.type }}</td>
                <td>{{ param.value }}</td>
            </tr>
        </tbody>
    </table>
</div>