<div class="container cntr-height">
    <div class="border-box">
        <h1 class="text-center">Task #{{ task?._id }}</h1>
        <h2 class="text-center">Details</h2>
        <div class="row mx-4 text-monospace">
            <p>Model name: {{ task?.modelName }}</p>
        </div>
        <div class="row mx-4 text-monospace" *ngIf="task.runnerId">
            <p>Runner: <a href="runners/{{task.runnerId}}">{{ task?.runnerId }}</a></p>
        </div>
        <div class="row mx-4 text-monospace">
            <p>State: {{ task?.state}}</p>
        </div>
        <div class="row mx-4 text-monospace">
            <p>Execution state: {{ task?.executionState}} %</p>
        </div>
        <div class="row mx-4 text-monospace">
            <p *ngIf="task?.result"><span class="result">Result:</span> {{ task.result | json }}</p>
        </div>

        <h2 class="text-center">Parameters</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let param of task.data; let i = index">
                    <th scope="row">{{ i + 1}}</th>
                    <td>{{ param.name }}</td>
                    <td>{{ param.type }}</td>
                    <td>{{ param.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>