#home {
    display: flex;
    align-items: center;
    height: 90%;
    font-size: large;
}

.header-first {
    background-color: rgba(#ffb367, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.header-second {
    background-color: rgba(#ffe277, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.header-third {
    background-color: rgba(#ffe2bc, 0.7);
    padding: 30px;
    border-radius: 10px;
}

.row-margin {
    margin-bottom: 4rem;
}
