<div class="border-box">
    <h2>New step in pharma production</h2>
    
    
    <div class="card-deck">
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/robot.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Precise process design</h5>
            <p class="card-text">ZZ system is a new way to integrate data science methodologies into your production processes.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/pills.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">High quality</h5>
            <p class="card-text">The system comes with already arranged services which will take the burden of manual calculations 
              from your employees.</p>
            <p class="card-text"><small class="text-muted">Last updated 14 days ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/pharma_raw_materials.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">High efficiency</h5>
            <p class="card-text">ZZ is bases on the most modern technologies, verified and approved 
              by global IT leaders like Google, Facebook...</p>
            <p class="card-text"><small class="text-muted">Last updated 15 days ago</small></p>
          </div>
        </div>
      </div>

      <div class="card-deck mt-5">
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/meeting.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">User oriented</h5>
            <p class="card-text">The platform is built with close co-operation with scientists and by scientists.</p>
            <p class="card-text"><small class="text-muted">Last updated 5 hours ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/profit.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Profitable</h5>
            <p class="card-text">The main idea of the system is make a complex process design as convinient as possible, facilitate it with  data science knowhow.</p>
            <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/software.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Easy extendable</h5>
            <p class="card-text">You don't need to buy 
              expensive support, and if you need new functionality you can easily extend the system. This aproach will 
              cut your maintanance costs.</p>
            <p class="card-text"><small class="text-muted">Last updated 31 mins ago</small></p>
          </div>
        </div>
      </div>
</div>
