<div class="border-box">
    <h2>New step in pharma production</h2>
    
    
    <div class="card-deck">
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/robot.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Precise process design</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/pills.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">High quality</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/pharma_raw_materials.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">High efficiency</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="card-deck mt-5">
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/meeting.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">User oriented</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/profit.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Profitable</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card shadow-sm">
          <img class="card-img-top" src="assets/img/software.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Easy extendable</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="border-box-inner">
        <p>ZZ system is a new way to integrate data science methodologies into your production processes. 
        The system comes with already arranged services which will take the burden of manual calculations 
        from your employees. ZZ is bases on the most modern technologies, and of course verified and approved 
        by global IT leaders like Google, Facebook...</p>
        <p>The main idea of the system to make it robust and extendable for new features. You don't need to buy 
            expensive support, and if you need new functionality you can easily extend the system. This aproach will 
            cut your maintanance costs.</p>
    </div>
</div>
